body {
  margin: 4px;
  overflow: hidden;
}

.icon {
  height: 16px;
  width: 16px;
  padding: 0px;
}

.accordion-toggle:hover{
  outline: none;
  text-decoration: none;
}

.accordion-toggle:focus{
  outline: none;
  text-decoration: none;
}

.btn:focus,.btn:active {
  outline: none !important;
}

.panel-body{
  padding: 0px;
}

.list-group-item{
  padding: 0px;
}

.panel-heading{
  padding: 2px;
}

.highlighted{
  background-color: #e3d2d2;
}

.panel-content{
  border: 1px solid #ccc;
}

.input-control{
  margin-left: 4px;
  padding: 2px;
  display: inline-block;
  vertical-align:top;
}

.input-control-sm{
  width: 68px;
}

.input-control-md{
  width: 124px;
}

.input-control-lg{
  width: 178px;
}

.input-select{
  min-width: 100px;
}

#input{
  width: 100%;
}

.input-control label {
  display: block;
}

.generate-control{
  padding: 4px;
  display: inline-block;
  vertical-align:top;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
  border: 1px ridge #e3e3e3;
  padding: 4px;
  margin: 4px;
}

legend{
  font: inherit;
  font-weight: bold;
  padding: 4px;
  margin-bottom: 0px;
  border: 0;
  width: auto;
}

input[type=number] {
  text-align:right;
}

.svg-widget{
  width: 100%;
  height: 100%;
}

.btn-icon{
  height: 30px;
}

.form-control{
  height: 30px;
  box-shadow: none!important;
}

.form-control:focus {
  border: 2px solid #ccc;
  box-shadow: none!important;
}

.btn-header{
  width: 16px;
  height: 16px;
  padding: 0;
}

.control-group{
  padding: 2px;
}

.dropdown-toggle{
  padding: 6px;
}

/*D3 widgets*/

div .tooltip {
  position: absolute;
  padding: 2px;
  background-color: #f5f5f5;
  font: 12px sans-serif;
  pointer-events: none;
}

div .dotted {
  border: 1px dotted #666;
  margin: 2px;
  padding: 2px;
}

.node {
  stroke-width: 1.5px;
}

.nodeLabel {
  font-size:10px;
  font-family:sans-serif;
}

.link {
  fill: none;
  stroke-width: 1.5px;
}

/*Panel resize*/

.resize-handle {
  position: absolute;
}

.resize-handle-e {
  right: -3px;
  top: 0;
  width: 6px;
  height: 100%;
  cursor: e-resize;
}

.resize-handle-n {
  left: 0;
  top: -3px;
  width: 100%;
  height: 6px;
  cursor: n-resize;
}

.resize-handle-w {
  left: -3px;
  top: 0;
  width: 6px;
  height: 100%;
  cursor: w-resize;
}

.resize-handle-s {
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 6px;
  cursor: s-resize;
}

.resize-handle-ne {
  top: -3px;
  right: -3px;
  width: 10px;
  height: 10px;
  cursor: ne-resize;
}

.resize-handle-se {
  bottom: -3px;
  right: -3px;
  width: 10px;
  height: 10px;
  cursor: se-resize;
}

.resize-handle-sw {
  bottom: -3px;
  left: -3px;
  width: 10px;
  height: 10px;
  cursor: sw-resize;
}

.resize-handle-nw {
  top: -3px;
  left: -3px;
  width: 10px;
  height: 10px;
  cursor: nw-resize;
}

/*Resizable windows styling*/

.repo {
  border: 0;
  border-right:3px #eee solid;
  min-width: 380px;
  min-height: 300px;
}

.viewer{
  width: 100%;
  margin-left: 400px;
}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }

/* golden-layout content panels */
.lm_content {
  overflow-y:       scroll;
  background-color: white;
}

/* if splitters have any width other than 0, the column layout renders incorrectly */
.lm_splitter.lm_horizontal { width:  0px !important;}
.lm_splitter.lm_vertical   { height: 0px !important;}

/* make splitter handles smaller so as not to interfere with adjacent scroll-bars */
.lm_splitter.lm_horizontal .lm_drag_handle { width:  8px !important; left: -3px !important; }
.lm_splitter.lm_vertical   .lm_drag_handle { height: 8px !important; top:  -3px !important; }

/* allow an element inside an .lm_content with overflow-y:scroll to have a position:absolute */
.lm_item_container {
  position: relative;
}

.imtip {
  position: relative;
  bottom: 2px;
  left: 4px;
  width: 24px;
  height: 12px;
}

/*Select box height as in other inputs*/
.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 2px 0 0 2px;
}

